.contents {
    margin: 10px;
}

.banner {
    position: relative;
    width: 100%;
    text-align: center;
}

.title {
    color: white;
    font-size: 60px;
    letter-spacing: 20px;
    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom {
    height: 500px;
}

.footer {
    margin: 50px 0;
}

.footer .text {
    font-size: 16px;
    margin: 0;
}
