<div class="services">
  <div class="card">
    <div class="card-header">Introductory Offer-Reiki Energy Balance</div>
    <div class="card-body">
      <h5>1 hour · $65</h5>
      <a class="btn btn-success" href="https://checkout.square.site/buy/GTAFD2TSWNZOIOKIHU5JMPIE" target="_blank" rel="noopener noreferrer">Buy now</a>
    </div>
    <div class="card-footer">
      <div class="ts-and-cs">Terms and conditions: $15 discount applied, full value $80. Offer expires 28th February
        2021.
        24hr Cancellation Policy - SRB respects that your time is valuable please show respect by cancelling
        your appointment at least 24 hours in advance. If you cancel with at least 24 hours notice, your booking fee
        can be transferred to another time or refunded.</div>
    </div>
  </div>
</div>