<div class="text about">Hello I'm Faye, certified in level 1 and 2 Usui Reiki. I wish to support you in
    feeling
    comfortable in your own skin, to feel safe and replenished so that you are freer to experience, accept and
    reconnect to the wonder that is your precious existence.</div>
  <div class="fixed-bg fixed-bg-1"></div>
  <div class="text">Reiki is an ancient Japanese method of healing using energy to balance the body and mind,
    its benefits can be felt by both the Reiki practitioner and the client.<br>
    Reiki works on different levels, the physical, mental, emotional and spiritually enhancing everything in
    life. Reiki is not only one of the oldest healing systems in use, it is also one of the most versatile.<br>
    Receiving Reiki energy may feel different each time depending on the needs of the client and what serves the
    soul's highest good.<br>
    Cancelation policy - at least 24 hours before a scheduled appointment.<br>
    Please message me for more information.<br></div>
  <div class="fixed-bg fixed-bg-2"></div>
  <div class="text bottom">This is to make the page scroll.</div>
  <div class="fixed-bg fixed-bg-3"></div>
